    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr.Coffee - Schedule App</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/34140e5df6.js" crossorigin="anonymous"></script>