<h2>
    <marquee behavior="scroll" direction="right">Welcome to Mr.Coffee schedule app</marquee>
</h2>
<div class="flex-container ">
        <a href="login" class="flex-items item1">login</a>
        <a href="/logout" class="flex-items item2">Log out</a>
    
</div>
