<h2>Welcome to Mr.Coffee schedule app</h2>
<form class="form" method="POST" action="/login">
    <div>
        <label class="form-label" for="email">Email</label>
        <input class="form-input" type="email" id="email" name="email" required>
    </div>
    <div>
        <label class="form-label" for=" password">Password</label>
        <input class="form-input" type="password" id="password" name="password" required>
    </div>
    <button class="button" type="submit">Login</button>
</form>