<!-- <form class="form" method="POST" action="/login">
    <div>
        <label class="form-label" for="email">Email</label>
        <input class="form-input" type="email" id="email" name="email" required>
    </div>
    <div>
        <label class="form-label" for=" password">Password</label>
        <input class="form-input" type="password" id="password" name="password" required>
    </div>
    <button class="button" type="submit">Login</button>
</form> -->
<div class="login-container">
    <h3> Login </h3>
        <form class="flex-container login-page" method="POST" action="/login">
            <input class="flex-items email " type="email"  name="email" placeholder="Email or Username" required>
            <input class="flex-items password" type="password" name="password" placeholder="password" required>
            <button class="flex-items btn" type="submit" name="Submit">Login</button>
            <p class="flex-items sign-up-option">New member? Click <a href="signup"> here </a>to signup</p>   
        </form>
</div>